/* Larger screen styles */
header {
    flex-wrap: nowrap;
    padding: 1rem 2rem;
}

header h1 {
    font-size: 2rem;
}

#menu-button {
    display: none;
}

nav {
    display: block;
    width: auto;
}

nav ul {
    display: flex;
    margin: 0;
}

nav li {
    margin: 0 0.5rem;
    margin-bottom: 0;
}

main {
    padding: 2rem;
}

footer {
    display: flex;
    justify-content: space-around;
    text-align: left;
    padding: 2rem;
}

.contact-info, .dev-info {
    margin-bottom: 0;
}